<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android101">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="._0_AppController.AppController"
        android:icon="@mipmap/ic_launcher_fix"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="._20_SendReceive_Json_From_RestAPI"/>
        <activity android:name="._19_Notification" />
        <activity android:name="._18_toDo._18_toDo_json" />
        <activity android:name="._17_JSON_VolleyLibrary" />
        <activity android:name="._16_ReadWrite_storage" />
        <activity android:name="._15_JobScheduler" />
        <activity android:name="._14_Miladi_be_Shamsi" />
        <activity
            android:name="._6_Login_Page_Splash"
            android:theme="@style/Theme_Transparent_Background" />
        <activity
            android:name="._13_Shared_Element_Activity_Transition_2"
            android:theme="@style/Theme_Transparent_Background" />
        <activity android:name="._13_Shared_Element_Activity_Transition" />
        <activity android:name="._12_Play_Video" />
        <activity
            android:name="._6_Login_Page"
            android:theme="@style/Theme_Transparent_Background" />
        <activity
            android:name="._0_HomePage._00_intro"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="._11_Simple_ListView" />
        <activity android:name="._10_Pass_data_using_intent_2_example" />
        <activity android:name="._9_Pass_data_using_intent_1_example" />
        <activity android:name="._8_Dynamic_Buttons_example" />
        <activity android:name="._7_Background_Async_Task_example" />
        <activity android:name="._5_Dialog_Alert_example" />
        <activity android:name="._4_ListView_example" />
        <activity android:name="._3_UseClass2_example" />
        <activity android:name="._2_UseClass_example" />
        <activity
            android:name="._0_HomePage._0_HomePage_Theme"
            android:theme="@style/Theme_Transparent_Background" />
        <activity android:name="._1_SharedPreferences_example" /> <!-- vase service -->
        <service
            android:name=".nonui._15_jobService_Example"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".nonui._19_2_NotificationReciver_forBTN" />
    </application>

</manifest>